<ul id="main-menu" class="site-nav">


<!-- Add the site's navigation links below -->

    <li><a href="index.shtml">Index with Sidebar</a></li>
    <li><a href="full-page.shtml">Full Page</a></li>
    <li><a href="#">Columns</a>
        <ul>
            <li><a href="two-column.shtml">Two Column</a></li>
            <li><a href="three-column.shtml">Three Column</a></li>
        </ul>
    </li>
    <li><a href="#">Examples</a>
        <ul>
        	<li><a href="#">Media Examples</a>
            	<ul>
                    <!--<li><a href="gallery.shtml">Gallery</a></li>-->
                    <!--<li><a href="video.shtml">Video</a></li>-->
                    <li><a href="media-stream.shtml">Media Stream</a></li>
                    <li><a href="slideshow.shtml">Slideshow</a></li>
                    <li><a href="image-grid.shtml">Linked Image Grid</a></li>
                </ul>
            </li>
            <li><a href="contact.shtml">Contact</a></li>
            <li><a href="staff-faculty.shtml">Staff & Faculty</a></li>
            <!--<li><a href="submission-form.shtml">Submission Form</a></li>-->
            <li><a href="call-out-boxes.shtml">Call-Out Boxes</a></li>
            <li><a href="form.shtml">Example Form</a></li>
            <li><a href="faq-accordion.shtml">FAQ &amp; Accordions</a></li>
            <li><a href="#">Usage</a>
                <ul>
                    <li><a href="typography.shtml">Typography</a></li>
                </ul>
        </ul>
    </li>

</ul>
