  <a href="/lite-template" class="site-name"
    ><div class="name-container">
      <!-- Your site's title in the banner -->
      <!-- Remove the "class=hide-desktop" class if you are *not* using a title in the banner image -->
      <!-- To add a tagline to your site, add text within the 'tagLine' span -->
      <span class="hide-desktop"
        >Western Responsive Lite Template <span id="tagLine"></span
      ></span></div
  ></a>
</header>