<aside class="social-media-nav">
    <ul>
    <!-- Adding social media links: Uncomment the section below and add the classname of the social network (Facebook, Twitter, Youtube, Linkedin, GooglePlus, Flickr, Instagram, Tumblr, Foursquare) for the icon to appear. -->
        <li><a href="https://www.facebook.com/westernwashingtonuniversity" class="facebook-icon"><span class="screen-reader-text">Western on Facebook</span></a></li>
        <li><a href="https://twitter.com/WWU" class="twitter-icon"><span class="screen-reader-text">Western on Twitter</span></a></li>
        <li><a href="https://www.youtube.com/wwu" class="youtube-icon"><span class="screen-reader-text">Western on YouTube</span></a></li>
    </ul>
</aside>
