<header>
    <div class="skip-link-container">
      <a href="#main-content" class="skip-link skip-content">Skip to main content</a>
    </div>
  
    <div class="covid-attestation">
      <h2><a href="https://www.wwu.edu/attest">Covid Test</a></h2>
    </div>
    <a href="https://www.wwu.edu" class="western-logo"
      ><span class="logo-text">Western Washington University</span></a>
<div class="quick-links-search-container">
    <nav aria-label="Western Quick Links">
        <div class="western-quick-links">
          <button class="is-closed">Open Quick Links</button>
          <ul>
              <li><a href="https://admissions.wwu.edu/apply">Apply</a></li>
              <li><a href="https://securelb.imodules.com/s/1710/17give/giving.aspx?sid=1710&amp;gid=2&amp;pgid=1816&amp;cid=3291&amp;paymenttype=now">Give</a></li>
              <li><a href="https://www.wwu.edu/sebrt/report-bias-incident">Report Bias</a></li>
              <li><a href="https://mywestern.wwu.edu">myWestern</a></li>
            </ul>
        </div>
    </nav>
    <div class="western-search" role="search" aria-label="Western">
        <button id="open-search"></button>
        <div class="western-search-widget">
            <form method="get" action="https://search2.wwu.edu/texis/search/">
                <div class="western-search-terms">
                    <label class="screen-reader-text" for="search-site">Enter the terms you wish to search for.</label>
                    <input id="search-site" name="query" placeholder="Search this site">
                </div>
                <div class="western-search-type-toggle">
                    <input type="checkbox" id="western-search-western">
                    <label for="western-search-western">Search Western</label>
                </div>
                <input type="submit" value="Search" onclick="setSearchProfile()">

                <!-- Change the "sharename" to match your search "Collection" name. Contact web.help@wwu.edu for help. -->
                <input type="hidden" name="pr" value="Default-WWU">
            </form>
        </div>
    </div>
    <button class="mobile-main-nav">Open Main Navigation</button>
</div>
