<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://www.wwu.edu/wwucommon/lite/js/modernizer.js"></script>
<script src="https://www.wwu.edu/wwucommon/lite/js/western.js"></script>
<script src="https://www.wwu.edu/wwucommon/lite/js/jquery.flexslider-min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
